.background-color-primary{
    background: #283747!important;
    background: -webkit-linear-gradient(left, #283747, #1ecfca)!important;
    background: -moz-linear-gradient(left, #283747, #1ecfca)!important;
    background: -webkit-linear-gradient(left, #283747, #1ecfca)!important;
    opacity: 0.8!important;
    
}