.background-color-primary{
    background: #283747!important;
    background: -webkit-linear-gradient(left, #283747, #1ecfca)!important;
    background: -moz-linear-gradient(left, #283747, #1ecfca)!important;
    background: -webkit-linear-gradient(left, #283747, #1ecfca)!important;
    opacity: 0.8!important;
    
}

.team-card-default{
    text-align:center;
}

.social-media-link{
    padding-top: 0 !important;
}


.background-color-company-demo{
    background-color: #f0f4f7;
}

.text-company-margin{
margin-top: 10%!important;
}