a.navbar-brand img.logo-trans {
    top:15px !important;
 }

 @media (max-width:991px){
    a.navbar-brand img.logo-trans {
        display:none;
     }
 }

 
 nav:not(.fixed-top) .nav-link a{
    color:rgba(255, 255, 255, 0.83);
 }

 

