#user-value, #user-value-text, #user-value-two{
    padding-top: 70%;
    width: 70%;
    border-radius: 50%;
    border:3px dashed #A9DFBF;
    position: relative;
    margin: 0 auto 50px;
}

@media(max-width:991px){
    .center{
        max-width: 100% !important; 
        }
    }


.center{
    text-align: center;
    width: 100%;
   
}

@media(min-width: 992px){
    .full-width{
        max-width: 100% !important!;
    }
}

.icon-container{
    position:absolute;
    font-size:250%;
    background-color: #F1F1F1;
    padding: 5px;
    border-radius:50%;
}

#user-value-text .icon-container{
    position:absolute;
    font-size:250%;
    background-color: white!important;
    padding: 5px;
    border-radius:50%;
    border: 1px dashed #F7DC6F ;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


.icon-container{
    color: #000000 !important; 
}


#user-value-text .icon-container{
    background-color: lightcyan;
    padding:12px;
}

#user-value-two .icon-container{
    background-color: #F8F9F9;
    padding:12px;
}

#user-value-text .icon-circle, #user-value-two .icon-circle{
    visibility: hidden;
}

@media(max-width:480px){
    .icon-container{
        font-size:7vw;
    }
}

#icon-top-left, #icon-text-top-left{
    left:30.87%;
    top:3.81%;
    transform: translateX(-50%) translateY(-50%);

}

#icon-top-right, #icon-text-top-right{
    right:30.87%;
    top:3.81%;
    transform: translateX(50%) translateY(-50%);
}

#icon-left-top, #icon-text-left-top{
    top:30.87%;
    left:3.81%;
    transform: translateX(-50%) translateY(-50%);
}

#icon-left-bottom, #icon-text-left-bottom{
    bottom:30.87%;
    left:3.81%;
    transform: translateX(-50%) translateY(50%);
}

#icon-bottom-left, #icon-text-bottom-left{
    left:30.87%;
    bottom:3.81%;
    transform: translateX(-50%) translateY(50%);
}

#icon-bottom-right, #icon-text-bottom-right{
    right:30.87%;
    bottom:3.81%;
    transform: translateX(50%) translateY(50%);
}

#icon-right-top, #icon-text-right-top{
    top:30.87%;
    right:3.81%;
    transform: translateX(50%) translateY(-50%);
}

#icon-right-bottom, #icon-text-right-bottom{
    bottom:30.87%;
    right:3.81%;
    transform: translateX(50%) translateY(50%);
}


.icon-container span{
    position:absolute;
    bottom:-15px;
    font-family: 'Courier New', Courier, monospace;
    font-size:35%;
    left:-50%;
    width: 200%;
    background-color: none;
}

#user-value-text .number, #user-value-two .number{
    top:37%;
    background: none;
    font-family: "Open Sans", sans-serif;
    color:black;
    font-size: 40%;
    font-weight: 600;
}

#user-value-two .icon-circle .number{
    background-color: blue !important;
}

#landingkit-navbar .nav-item .btn{
    padding: 9px 7px 9px!important;
}

.main-content #features{
    margin-top: -5%!important;
    margin-bottom: -5%!important;
}

#reviews{
    padding-top: 26px !important;
    padding-bottom: 26px !important;
}

.btn-gray{
    border: 2px solid #85929E;
    background-color: transparent;
    color: #85929E; }
}

