.background-color-primary{
    background: #283747!important;
    background: -webkit-linear-gradient(left, #283747, #1ecfca)!important;
    background: -moz-linear-gradient(left, #283747, #1ecfca)!important;
    background: -webkit-linear-gradient(left, #283747, #1ecfca)!important;
    opacity: 0.8!important;
    
}


.product-call-action{
    position:absolute!important;
    top: 0% !important;
}

.call-action-demo{
    padding-bottom: 50px!important;
    padding-top: 25px!important;
}

.btn-demo{
    border: 2px solid rgba(255, 255, 255, 0.83)!important;
    background-color: transparent!important;
    color: rgba(255, 255, 255, 0.83)!important;
}

.background-color-blue{
    background: #344880 !important;
    border-color: #344880;
    color:#fff;
}

.background-color-white{
    background: #fff !important;
    color:#46495c!important;
    
}

